body{
    margin: 0;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}
header{
    background-color: #d14635;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1 h2{
        font-family: "Press Start 2P", system-ui;     
}
header h1{
    color: white;
    font-size: 50px;
    
}
header img{
    border-radius: 170px;
    width: 300px;
    border: 20px solid white;
}
main {
    max-width: 800px;
}
main img{
    max-width: 100%;
}